/*
@media (min-width: 320px) {
  . {
  }
}
@media (min-width: 768px) {
  . {
  }
}
@media (min-width: 1200px) {
  . {
  }
}
*/

body {
  min-width: 280px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.page-main {
  flex: 1;
}
.page-main--color {
  background: url('../img/HighSchoolCinemaEngineers (1).png') #f2f2f2;
  background-size: 100%;
  background-clip: unset;
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: 35px;
}

.page-header__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 320px) {
  .page-main__wrapper,
  .page-footer__wrapper {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .page-main__wrapper,
  .page-header__wrapper,
  .page-footer__wrapper {
    width: auto;
    padding: 0 64px;
    margin: 0 auto;
  }
  .page-header__wrapper {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .page-main__wrapper,
  .page-header__wrapper,
  .page-footer__wrapper {
    width: 1100px;
    padding: 0 50px;
    margin: 0 auto;
  }
}
.page-header,
.page-footer {
  min-width: auto;
  background-color: #164f80;
}
.page-header--opacity {
  position: absolute;
  z-index: 5000;
  width: 100%;
  background-color: rgba(227, 227, 227, 0.27);
}
.page-header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.page-header__logo img {
  width: 300px;
  height: 90px;
}
.page-header__logo:hover {
  transform: rotate(360deg);
}

@media (min-width: 768px) and (min-width: 1200px) {
  .page-header__logo {
    width: 20%;
  }
}

/*** toggle start ***/

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #000F24;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover {
  background-color: #152E51;
}
.main-nav__toggle:active {
  background-color: #152E51;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
              0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

/*** toggle the end ***/

.main-nav {
  position: relative;
  width: auto;
  min-height: 50px;
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__user-item {
  position: relative;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 14px;
  font-weight: bolder;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #152E51;
  border-top: 1px solid #322a2a;
  border-bottom: 1px solid #1d1d1d;
}
.main-nav__item a[href]:hover {
  background-color: #6D6E6F;
  border-top-color: #6D6E6F;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #757980;
  border-top-color: #757980;
}
.main-nav__user-item a {
  position: relative;
  display: block;
  padding: 17px 21px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 14px;
  margin-left: 2%;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .main-nav__user-items {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: 80%;
    min-height: 70px;
    margin: 0;
  }
  .main-nav__wrapper {
    width: auto;
    display: flex;
    justify-content: space-around;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 30px;
  }
  .main-nav__item a {
    padding: 0;
    border: none;
    background: none;
  }
  .main-nav__item a[href]:hover {
    background: none;
    color: #000;
  }
  .main-nav__item a[href]:active {
    background: none;
    color: #000;
  }
  .main-nav__user-item {
    align-self: flex-end;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .main-nav__sub-menu {
    display: none;
    position: absolute;
    min-width: 136px;
    min-height: 75px;
    top: 35px;
    left: -45px;
    list-style: none;
    background: #7d7d7db3;
    padding: 0 20px;
    padding-left: 50px;
    padding-right: 45px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    z-index: 9999;
  }
  .main-nav__sub-menu::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 80px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #7d7d7db3;
  }
  .main-nav__item:hover .main-nav__sub-menu {
    display: block;
  }
  .main-nav__sub-menu-item a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 90%;
    /* 640px / 768px ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px (центровка начнётся чуть раньше 1200px) */
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .main-nav__item {
    margin-right: 0;
    position: relative;
  }
  .main-nav__item--active::after {
    right: 30px;
    left: 30px;
  }
  .main-nav__item a[href]:hover {
    color: #C9D1DB;
  }
  .main-nav__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__user-item {
    display: flex;
  }
  .main-nav__user-items {
    max-width: 160px;
    margin-left: 2%;
    align-self: flex-end;
  }
  .main-nav__user-login {
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }
}
.main-nav__user-items .main-nav__user-sub-items {
    margin: 0;
    padding 5px 0;
    list-style: none;
    position: absolute;
    top: 78px;
    right: -28px;
}
.main-nav__user-items .main-nav__user-item .main-nav__user-sub-item a {
    display: none;
    width: 150px;
    height: 29px;
    padding-left: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;

    color: #fff;
    font-size: 19px;
    text-decoration: none;
    line-height: 16px;
    background-color: #bcbcbc;
    border-bottom: 1px solid black;
}
.main-nav__user-items .main-nav__user-item .main-nav__user-sub-item a:hover {
    background-color: #777272;
}
.main-nav__user-items > .main-nav__user-login:hover .main-nav__user-sub-items {
    display: block;
}
.main-nav__user-pic {
    width: 53px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
}
@media (max-width: 767px) {
  .main-nav__user-pic {
    margin-left: 16px;
    margin-top: 12px;
  }
}
.warning-pin::before {
  content: "!";
  position: absolute;
  top: 135px;
  left: 112px;

  display: block;
  background-color: #ed5a6a;
  border-radius: 20px;
  font-size: 40px;
  color: #fff;
  padding-left: 15px;
  line-height: 37px;
  cursor: pointer;
  width: 27px;
  height: 40px;
}
.warning-pin--header::before {
  content: "!";
  position: absolute;
  top: 40px;
  left: 37px;

  display: block;
  background-color: #ed5a6a;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 28px;
  cursor: pointer;
  width: 17px;
  height: 30px;
  z-index: 100;
}
.main-nav__popup {
    width: 183px;
    min-height: 232px;
    text-align: center;
    position: absolute;
    top: 70px;
    left: -55px;

    background-color: #fff;
    color: #000;
    padding: 0 20px;
    border: 1px solid black;
    border-radius: 13px;
}
.main-nav__popup--hidden {
    display: none;
}
.main-nav__popup--open {
    display: block;
}
.main-nav__popup a {
    color: blue;
    padding: 0px;
    margin: -11px;
    cursor: pointer;
}
.teacher__popup {
  width: 137px;
  min-height: 57px;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 7px;
  background-color: rgba(0,0,0,.6);
  color: #000;
  padding: 0 20px;
  border-radius: 5px;
  z-index: 999;
}
.teacher__popup--hidden {
    display: none;
}
.teacher__popup--open {
    display: block;
}
.login_item {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../img/graduation-mortarboard.svg') no-repeat;
  background-size: 47px;
  margin-top: -10px;
}
.page-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.page-footer__list {
  list-style: none;
  padding-bottom: 20px;
  margin-top: 0;
}
.page-footer__list-item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.page-footer__list-item a:hover {
  color: #000;
}

.page-footer__link {
  display: flex;
  flex-direction: column;
}
.page-footer__pin {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 30px;
  left: -40px;
}
.page-footer__pin--adress {
  background: url(../img/map.svg) no-repeat;
}
.page-footer__pin--tel {
  background: url(../img/telephone.svg) no-repeat;
}
.page-footer__pin--email {
  background: url(../img/e-mail.svg) no-repeat;
}
.page-footer__copyright {
  display: flex;
  justify-content: flex-start;
}
.page-footer__copyright a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  margin-left: 7px;
}
.page-footer__copyright a:hover {
  color: #000;
}
.page-footer__copyright-text {
  align-self: flex-start;
}
@media (max-width: 768px) {
  .page-footer__copyright {
    flex-direction: column;
  }
}

/** header footer the end **/

.progress {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

.progress__title, .progress__title--yellow {
  font-size: 30px;
  color: #164f80;
  margin-bottom: 90px;
}

@media (min-width: 280px) and (max-width: 500px) {
  .progress__title, .progress__title--yellow {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .progress {
  margin-bottom: 50px;
  }
}
.progress__title--yellow {
  color: #FFD43E;
  margin-right: 10px;
}
.progress__subtitle {
  font-size: 24px;
  color: #164f80;
  margin-bottom: 70px;
}
.progress__subtitle--yellow {
  color: #FFD43E;
  margin-right: 10px;
}
.progress-bar .progress-bar__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.progress-bar__items::before {
  content: '';
  position: absolute;
  min-width: 40%;
  height: 7px;
  background: #cecece;
  margin-top: 9px;
  opacity: 0.4;
}
.progress-bar__items::after {
  content: '';
  position: absolute;
  min-width: 30%;
  height: 7px;
  background: #164f80;
  margin-top: 9px;
  z-index: 0;
}

.progress-bar__items:nth-child(1) .progress-bar__item-start::after {
  content: '';
  height:40px;
  width:50px;
  position: absolute;
  margin-top: -26px;
  margin-left: -30px;
  align-self: center;
  background: url(../img/start-01.svg) no-repeat;
  z-index: 2;
}
.progress-bar__items .progress-bar__item::before {
  content: '';
  position: absolute;
  z-index: 1;

  width: 15px;
  height: 15px;
  background: #fff;
  border: 5px solid #164f80;
  border-radius: 50%;
  align-self: center;
}
.progress-bar__items .progress-bar__item--done::after {
  content: '';
  width: 35px;
  height: 26px;
  background: url(../img/check-01.svg) no-repeat;
  display:block;
  position: absolute;
  margin-top: -55px;
  z-index: 3;
}

.progress-bar__item-title {
  position: relative;
  top: 28px;
  text-align: center;
  align-self: center;
}
.progress-bar .progress-bar__score {
  display: flex;
  align-content: center;
  position: relative;
  top: -57px;
  align-items: center;
  margin: auto;
}



.online-content {
  width: 100%;
}
.online-content__video {
  margin: 0 auto;
}

.online-content__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
}

.online-content__content {
  background-color: whitesmoke;
  color: #164f80;
  padding: 0 20px;
}
@media (min-width: 1115px) {
  .online-content__wrapper {
    flex-direction: row;
  }
  .online-content__video {
    margin: 0;
    width: 50%;
  }
  .online-content__content {
    padding: 0;
    width: 50%;
    height: 310px;
    overflow: scroll;
  }
}
.online-content__content-title {
  text-align: center;
  margin: 10px 10px auto;
}
.online-content__content-items {
  list-style: none;
}
.online-content__content-items .online-content__content-item a {
  text-decoration: none;
  color: #164f80;
  padding-bottom: 20px;
  display: block;
  margin-bottom: 5px;
}
.online-content__content-items .online-content__content-item a:hover {
  color: grey;
}

.course-content {
  margin-top: 30px;
  margin-bottom: 55px;
}
.course-content__wrapper {
  min-width: 280px;
  margin: 0 auto;
}
.course-content__nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-content__nav-links a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 39%;
  height: 34px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 28px;
  padding-top: 28px;
}
.is-active {
  border-bottom: 2px solid #152E51;
}
.course-content__nav-links a:hover {
  background-color: #f0f0f0;
}
.course-content__nav-links a:active {
  background-color:grey;
}
.tab-container__content {
 display: none;
}
.tab-container__content--opened {
 display: block;
}

@media (min-width: 1115px) {
  .course-content__nav-links {
    flex-direction: row;
  }
  .course-content__nav-links a {
    border-right: 1px solid #fff;
  }
}
.course-content__module {
  list-style: none;
}
.course-content__module .course-content__module-item a {
  display: block;
  text-decoration: none;
  color: #164f80;
  font-size: 18px;
  margin-bottom: 10px;
}
.course-content__module .course-content__module-item a:hover {
  text-decoration: none;
  color: grey;
  font-size: 18px;
}
/*.course-content__module-item--more {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background: url('/static/school/images/misc/telephone.svg') no-repeat;
}*/
.course-content__module-item--open {
  display: block;
  vertical-align: bottom;
  position: relative;
  top: 28px;
  left: -35px;
  width: 30px;
  height: 30px;
  background: url('../img/lock_gold_open.svg') no-repeat;
}
.course-content__module-item--close {
  display: block;
  vertical-align: bottom;
  position: relative;
  top: 28px;
  left: -35px;
  width: 30px;
  height: 30px;
  background: url('../img/lock_blue_closed.svg') no-repeat;
}
.course-content__module-item--done {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  top: 28px;
  left: -35px;
  width: 30px;
  height: 30px;
  background: url('../img/check-01.svg') no-repeat;
}
.course-content__content-link {
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.user-info__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
  padding-top: 80px;
  margin-bottom: 100px;
  margin-top: 60px;
}
.user-info__img {
  box-sizing: border-box;
  position: relative;
}
.user-info__img img {
  margin-top: 20px;
  margin-bottom: 40px;
}
.user-info__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.user-info__name {
  display: block;
  min-height: 50px;
  font-weight: bold;
}
.user-info__content-item {
  text-align: center;
  margin-bottom: 15px;
}
.user-info__content-item .user-info__content-item-title {
  display: none;
}
.user-info__btn {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #164f80;
  text-decoration: none;
  color: #fff;
  padding: 0 60px;
  line-height: 45px;
  border-radius: 10px;
  margin-bottom: 60px;
}
.user-info__btn:hover {
  background-color: #152E51;
}
@media (min-width: 768px) {
  .user-info__img img {
    margin-left: -20px;
  }
  .user-info__btn {
    width: 50%;
  }
  .user-info__content-item .user-info__content-item-title {
   display: inline-block;
   vertical-align: top;
   width: 35%;
   font-weight: bold;
  }
  .user-info__content-item {
    text-align: left;
    margin-bottom: 15px;
  }
  .user-info__content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 960px) {
  .user-info__content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 835px) {
  .user-info__content {
    width: 53%;
    margin-left: auto;
    margin-right: auto;
  }
  .user-info__btn {
    width: 28%;
    text-align: center;
  }
}
/* edit page styles */
.user-setting__img {
    text-align: center;
    margin-top: 20px;
}
.user-setting__img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-top: 20px;
}
.user-setting__form-fieldset {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
fieldset {
  border: none;
}
.user-setting__btn {
    background-color: #1A437D;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;

    width: 100%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"]{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    background-color: #fff;
    font-style: italic;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 15px;
    width: 91%;
}
.user-setting__form-label {
    text-transform: uppercase;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
    margin-bottom: -2px;
    margin-top: 20px;
}
input[type="radio"] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type="radio"] + label.radio {
    padding-left: 24px;
    height: 19px;
    display: inline-block;
    line-height: 19px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 40px 20px 0;
}
label.radio {
    background-image: url(../img/radiobutton.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="radio"]:checked + label.radio {
    background-position: 0 -19px;
}
.js {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
 }
.inputfile + label {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    font-family: "Open Sans", Sans-Serif;
    margin: 10px 20px;
    margin-left: -10px;
    background: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(162, 161, 161, 0.7);
    font-size: 16px;
}
 */ .no-js .inputfile + label {
    display: none;
}
.inputfile:focus + label, .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
 }
.inputfile + label * {
/* pointer-events: none; */ /* in case of FastClick lib use */
}
.inputfile + label svg {
    width: 1em; height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em; /* 4px */
    margin-right: 0.25em;/* 4px */
}
/* style 1 */

.inputfile-1 + label {
    color: #fff;
    background-color: #3e57a3;
    cursor: pointer;
}
.inputfile-1:focus + label, .inputfile-1.has-focus + label, .inputfile-1 + label:hover {
    background-color: #2e4280;
}
.help_text {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
}
@media (min-width: 768px) {
    .user-setting__btn-mobile-hidden {
        display: block;
    }
    .user-setting__btn {
        width: 35%;
    }
    .user-setting__btn--full {
        width: 100%;
    }
    .inputfile + label  {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .page-main__fluid-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .user-setting__desktop-wrap {
        margin: 0 auto;
        padding: 0 450px;
    }
    .user-setting__btn--full {
        width: 39%;
        margin-left: 31%;
    }
}
.course-list {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
.course-list__item {
    list-style: none;
    margin-bottom: 50px;
    background-color: #bcbcbc80;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.course-list__item-title a {
    text-decoration: none;
    font-weight: bold;
    color: #003F98;
    line-height: 1.1;
}
.course-list__item-title a:hover {
    color: #012860;
}
.course-list__item-progress {
    float: right;
    text-align: center;
}
.course-list__item-progress span {
    display: block;
    font-size: 30px;
    color: #003F98;
    font-weight: bold;
}
.course-list__item-warning {
    width: 55%;
    background: #d7d7d7;
    float: left;
    position: relative;
    top: 28px;
    left: 20px;
    padding: 0 35px;
}
.course-list__item-docs {
    float: left;
    width: 40%;
    margin-left: 27px;
    margin-top: 91px;
}
.course-list__item-docs--icon {
    background: url(../img/docs.png) no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 38px;
    height: 42px;
    cursor: pointer;
}
.course-list__item-btn {
    float: right;
    margin-top: 60px;
}
.course-list__item-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    background-color: #003F98;
    padding: 0 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.course-list__item-btn a:hover {
    background-color: #012860;
}

.course-manager p {
    color: #1A437D;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 56px;
}
.course-manager__icon {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: 70px;
    width: 40px;
    height: 40px;
    background: url('../img/cloud.svg') no-repeat;
}
.course-manager__textarea textarea {
    border: 2px solid #1A437D;
    border-radius: 6px;
    padding: 0 34px;
    padding-top: 33px;
    margin-bottom: 50px;
    width: 205px;
}
@media (min-width: 768px) {
  .course-manager__textarea textarea {
    width: 50%;
  }
  .course-list__item-img {
    width: 300px;
    height: auto;
    float: left;
  }
  .course-list__item-title {
    width: 50%;
    float: left;
    margin-left: 20px;
    font-size: 24px;
  }
  .requisites__item {
    width: 40%;
  }
}
@media (min-width: 1200px) {
    .course-manager__textarea textarea {
    width: 87%;
  }
}

/* for tabs on personal_area_course page */
.content > div {
    display: none;
    padding: 0;
}
.course-content__title {
    display: inline-block;
    padding: 20px 80px;
    text-align: center;
    font-weight: bold;
}
.course-content__title-main {
    font-size: 25px;
    color:
}
.course-content__title:hover {
    color: grey;
    cursor: pointer;
}
input:checked + .course-content__title {
    background: #ed5a6a;
    color: #fff;
}
#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4 {
     display: block;
}

.requisites {
}
.requisites__items {
    list-style: none;
    margin-top: 60px;
    padding: 0;
}
.requisites__item {
    background-color: #bcbcbc80;
    width: 80%;
    padding: 0 27px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
    margin-bottom: 40px;
}
.requisites__item span {
    display: none;
}
@media (min-width: 768px) {
  .requisites__item {
    width: 40%;
  }
  .requisites__item span {
    display: block;
    font-weight: bold;
  }
}
.teacher__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}
.teacher_item {
  display: block;
  width: 100%;
  height: 310px;
  background-color: #164f80;
  cursor: pointer;
  margin-bottom: 40px;
  position: relative;
}
@media (min-width: 768px) {
  .teacher__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .teacher_item {
    width: 48%;
  }
}
.teacher_item--course {
  background: url('../img/book-01.svg') no-repeat;
  display: block;
  width: 200px;
  height: 200px;
  z-index: 999;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.teacher_item--student {
  background: url('../img/student-01.svg') no-repeat;
  display: block;
  width: 200px;
  height: 200px;
  z-index: 999;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.teacher_item__hover-content {
  width: 100%;
  height: 310px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #30303099;
  display: none;
}
.teacher_item__hover-content-link {
  display: block;
  text-decoration: none;
  font-size: 27px;
  color: #fff;
  width: 61%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.teacher_item:hover .teacher_item__hover-content {
  display: block;
}

/*** index.html page ***/
#carusel{
    position: relative;
    max-width: 100%;
    height: 600px;
    max-height: 100vh;
    overflow: hidden;
    user-select: none;
}

#carusel .item {
    position: absolute;
    z-index: 1;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-size: contain;
    transition: left 0.5s, transform 0.5s;
    will-change: transform;
    backface-visibility: hidden;
}

#carusel label {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    opacity: 0.7;
    color: #fff;
    background-color: #999;
    cursor: pointer;
    padding: 10px;
    font-size: 28px;
    line-height: 39px;
    font-weight: bold;
}
.item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 27px;
  font-weight: lighter;
  text-shadow: 1px 2px 11px black;
}
#carusel input:checked+div~div~div~div .item {
  background-image: none !important;
}
#carusel input:checked+div *,
#carusel input:checked+div+input+div .item,
#carusel input:checked+div+input+div+input+div * {
  display: block;
}

#carusel input:checked+div .item {
  left: -100%; transform: scale(0.4);
}
#carusel input:checked+div+input+div .item {
  left: 0; transform: scale(1);
}
#carusel input:checked+div+input+div+input+div .item {
  left: 100%; transform: scale(0.4);
}

#carusel input:checked+div label {
  left: 0;
}
#carusel input:checked+div+input+div+input+div label {
  right: 0;
}

#carusel input:checked+div label:before {
  content: '❰';
}
#carusel input:checked+div+input+div+input+div label:before {
  content: '❱';
}

.main-page__programms {
  margin-bottom: 100px;
}
.main-page__programms-title {
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 0px 0px 58px grey;
}
.main-page__programms-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;

}
.main-page__programms-item {
  width: 31.9%;
  min-height: 350px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.main-page__programms-item--first {
  background: url('../img/kino13.jpg') no-repeat;
}
.main-page__programms-item-link--first {
  background: rgba(55, 152, 168, 0.9);
}
.main-page__programms-item-link--second {
  background: rgba(74, 164, 47, 0.7);
}
.main-page__programms-item--second {
  background: url('../img/obl.jpg') no-repeat;
  background-size: 168%;
}
.main-page__programms-item--third {
  background: url('../img/cameraman.jpg') no-repeat;
  background-position-x: -118px;
}
.main-page__programms-item-link--third {
  background: rgba(210, 0, 8, 0.7);
}
.main-page__programms-item-link {
  display: block;

  padding: 0 20px;
  min-height: 100px;
  margin-top: 76%;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 20px;
  padding-top: 25px;
}
.main-page__programms-item:hover {
  box-shadow: 0px 2px 11px black;
}
.main-page__programms-item-title {

}
.main-page__features {

}
.main-page__features-list {
  list-style: none;
  display: flex;
  flex-direction: column;

}
.main-page__features-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 444px;
  margin: 0 50px;
}
.main-page__features-item-number {
  display: block;
  float: left;
  width: 140px;
  height: 140px;
  font-size: 103px;
  font-weight: lighter;
  padding: 0 20px;
  color: #9e9e9e;
  text-align: center;
}
.main-page__features-item-pic {
  display: block;
  position: absolute;
}
.main-page__features-item-pic--first {
  background: url('../img/command-lines.svg') no-repeat;
  background-position-y: -144px;
  background-position-x: -20px;
  width: 500px;
  height: 412px;
}

.main-page__features-text {
  width: 54%;
  padding: 0 43px;
  margin-left: 75px;
  margin-top: 90px;
}
